* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.albunsList {
  display: flex;
  flex-direction: row;
  max-width: 768px;
}

.albums {
  display: flex;
  flex-direction: row;
}

.selected {
  border: 1px solid red;
}